* {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #001d38;
  padding-bottom: 100px;
}
.project-row {
  padding: 100px;
  text-align: center;
}
.project-p {
  font-size: 18px;
}
.project-h3 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

.con2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-thumb,
.p-img {
  height: 350px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.p-img {
  content: " ";
  background-color: #c2c2c2;
  margin: 10px;
}
.p-img:nth-child(1),
.p-img:nth-child(2) {
  margin-left: -5px;
  margin-bottom: 5px;
}
.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.i1 {
  /* background-image: url("../../assets/portfolios/Greenville2.jpg"); */
  background-image: url("https://s25.postimg.cc/frbd9towf/cta-2.png");
}
.i2 {
  /* background-image: url("../../assets/portfolios/Pro.jpg"); */
  background-image: url("https://s25.postimg.cc/frbd9towf/cta-2.png");
}

.i3 {
  /* background-image: url("../../assets/portfolios/SquareMall.jpg"); */
  background-image: url("https://s25.postimg.cc/frbd9towf/cta-2.png");

}
.i4 {
  /* background-image: url("../../assets/portfolios/Dali.jpg"); */
  background-image: url("https://s25.postimg.cc/frbd9towf/cta-2.png");

}
.i5 {
  /* background-image: url("../../assets/portfolios/Planty.png"); */
  background-image: url("https://s25.postimg.cc/frbd9towf/cta-2.png");

}
.p-img {
  background-size: cover;
  background-position: center;
}

.flip-box{
    -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
}

.flip-box-front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 30px 0px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
  color: white;
}

.flip-box-header {
  font-size: 24px;
}

.flip-box p {
  font-size: 16px;
  text-align: justify;
}

.flip-box-img {
    width: 15%;
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}

.flip-box-button:hover{
    color: #121212;
    background-color: #fff;
}


@media screen and (max-width: 960px) {
  .bg {
    height: auto;
    padding-bottom: 20px;
  }
  .project-thumb {
    width: 122%;
    margin-left: -7%;
  }
  .porfolio-row {
    padding-left: 0;
    padding-right: 0;
  }
  .project-h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  /* .i2 {
    background-image: url("../../assets/projects/Pro2.jpg");
  } */
}
