.skills{
    text-align: left;
}
.l-skills {
    display: block;
    font-size: 12em;
    color: rgba(153, 153, 153, 0.1);
    font-family: "Poppins";
    font-weight: 900;
    margin-left: 20%;
}
.skills-container{
    margin-left: 130px;
    margin-top: -110px;
    margin-bottom: 50px;
    text-align: left;
}
.skills-container > h2 {
    font-weight: 900;
    margin-bottom: 50px;
}
.skills-container > h5 {
    font-weight: 900;
    margin: 0;
}
.skills-container >  p {
    text-align: justify;
    margin-bottom: 20px;
    color: #666;
}


@media screen and (max-width: 960px) {
    .l-skills {
      font-size: 6em;
    }
    .skills-container {
      margin-left: 0;
      margin-top: -68px;
      margin-left: 8%;
      width: 84%;
    }
    .skills-container > h2 {
        margin-bottom: 30px;
    }
    .skills-container > p {
      font-size: 14px;
    }
  }