.bg,
.bg2 {
  width: 100%;
  height: 70vh;
  color: #fff;
  background-color: #001d38;
}
.bg2 {
  height: 80vh;
  background-color: #fff;
}
.porfolio-row {
  padding: 100px;
  text-align: center;
}
.portfolio-p {
  font-size: 12px;
}
.portfolio-h3 {
  font-size: 52px;
  font-weight: bold;
}

.con2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.portfolio-thumb,
.p-img {
  height: 300px;
  margin-bottom: 10px;
}

.p-img {
  content: " ";
  background-color: #c2c2c2;
  margin: 10px;
}
.p-img:nth-child(1),
.p-img:nth-child(2) {
  margin-left: -5px;
  margin-bottom: 5px;
}
.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.i1 {
  background-image: url("../../assets/portfolios/Greenville2.jpg");
}
.i2 {
  background-image: url("../../assets/portfolios/Pro.jpg");
}
.i3 {
  background-image: url("../../assets/portfolios/SquareMall.jpg");
}
.i4 {
  background-image: url("../../assets/portfolios/Dali.jpg");
}
.i5 {
  background-image: url("../../assets/portfolios/Planty.png");
}
.p-img {
  background-size: cover;
  background-position: center;
}

.vbtn {
  width: 150px;
  height: auto;
  margin: 30px;
  padding: 15px;
  border: 1px solid #5242e6;
  color: #5242e6;
  background-color: #fff;
  transition: 0.3s;
}
.vbtn:hover {
  color: #fff;
  background-color: #5242e6;
}

@media screen and (max-width: 960px) {
  .bg {
    height: auto;
    padding-bottom: 20px;
  }
  .bg2 {
    display: none;
  }
  .portfolio-thumb {
    width: 122%;
    margin-left: -7%;
  }
  .porfolio-row {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio-h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .i2 {
    background-image: url("../../assets/portfolios/Pro2.jpg");
  }
  .bg2 {
    display: none;
  }
}
