.NavbarItems {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.02);
  position: fixed;
  z-index: 100;
}
.navbar-bg{
    background: linear-gradient(
    90deg,
    rgba(92, 80, 239, 0.75) 00%,
    rgba(181, 87, 236, 0.75) 100%
  );
}
.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  margin: 0;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  padding-top: 16px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.nav-links:last-child {
  opacity: 0.9;
}
.nav-links:hover {
  color: #5242e6;
  background: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.nav-links > .active {
  border-bottom: 1px solid #333;
}
.fa-bars {
  color: #fff;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none;
    border: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 0;
  }
  .nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background: #7577fa;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    font-size: 42px;
    color: #fff;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }
  .fa-times {
    color: white;
    font-size: 2rem;
  }
}
