* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.scroller {
  position: fixed;
  bottom: 30px;
  right: 30px;
  content: "+";
  height: 50px;
  width: 50px;
  background-color: #5242e6;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
.scroller:hover {
  transform: scale(1.3);
}
.scroller-off {
  display: none;
}
#tbtn {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 1080px) {
  .scroller {
    right: 10px;
    bottom: 20%;
  }
}
